<app-details-dialog>
    <ng-template #imgRef>
        <img class="event-img" src="assets\img\example.png">
    </ng-template>

    <ng-template #detailsRef>
        <h1 id="dialog-title">
            {{data.title}}
            <div id="tags">
                <app-tag>{{data.type}}</app-tag>
                <app-tag *ngIf="data.genre">{{data.genre}}</app-tag>
            </div>
        </h1>
        <h3 class="desc-item">
            <mat-icon class="desc-icon">calendar_today</mat-icon>
            {{data.date | date:"dd MMM yyyy 'at' hh:mm a"}}
        </h3>
        <h3 class="desc-item">
            <mat-icon class="desc-icon">location_on</mat-icon>
            {{data.city}}<span id="location" *ngIf="data.location">,&nbsp; {{data.location}}</span>
        </h3>
        <h3 class="desc-item">
            <mat-icon class="desc-icon">info</mat-icon>
            Organized by {{data.organizer}}
        </h3>
    </ng-template>

    <ng-template #descRef>
        <h4>{{data.description}}</h4>

        <mat-divider></mat-divider>

        <ng-container *ngIf="isLogged; else logInfo">
            <div id="apply-offer-section" *forRoles="USER_ROLE">
                <p>Use your 
                    <a href="" (click)="changeStrategy('profile'); false">music profile</a> 
                    to apply for this offer or 
                    <a href="" (click)="changeStrategy('form'); false">fill the application form</a>.
                </p>

                <form [formGroup]="strategy.applicationForm" *ngIf="!isFormExpanded; else profileForm">
                    <mat-form-field [appearance]="'outline'" 
                                    [ngClass]="'dialog-form-field'"
                                    floatLabel="always"
                                    id="mp-field">
                        <mat-label>Music profile</mat-label>
                        <mat-select formControlName="profile" placeholder="Choose your profile">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let profile of musicProfiles" [value]="profile">{{profile.name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="strategy.applicationForm.get('profileId')?.hasError('required')">
                            Choose a profile or fill the form.
                        </mat-error>
                    </mat-form-field>
                </form>
            </div>
        </ng-container>
    </ng-template>

    <ng-template #actionsRef *forRoles="USER_ROLE">
        <app-status-info [hidden]="!isSubmitted" id="offer-status" #statusRef></app-status-info>
        <button *ngIf="!isSubmitted" 
                mat-raised-button 
                (click)="onSubmit()" 
                [color]="'primary'" 
                [ngClass]="!isLogged ? 'not-logged' : ''">
                APPLY
        </button>
    </ng-template>  
</app-details-dialog>

<ng-template #logInfo>
    <div id="login-msg">
        <h4>You must be logged in to apply for this offer. <a href="/login">Click to log in.</a></h4>
    </div>
</ng-template>

<ng-template #profileForm>
    <form [formGroup]="strategy.applicationForm">
        <div id="general-section">
            <h4>General</h4>
    
            <mat-form-field [appearance]="'outline'" 
                            [ngClass]="'dialog-form-field'" 
                            floatLabel="always"
                            [hideRequiredMarker]="true">
                <mat-label>Type</mat-label>
                <mat-select formControlName="type" placeholder="Choose a type">
                    <mat-option *ngFor="let type of types" [value]="type">{{ type }}</mat-option>
                </mat-select>
                <mat-error *ngIf="strategy.applicationForm.get('type')?.hasError('required')">
                    This field is required.
                </mat-error> 
            </mat-form-field>
    
            <mat-form-field *ngIf="strategy.applicationForm.get('type')?.value == 'Band'" 
                            [appearance]="'outline'" 
                            [ngClass]="'dialog-form-field'" 
                            floatLabel="always"
                            [hideRequiredMarker]="true">
                <mat-label>Band name</mat-label>
                <input matInput formControlName="bandName" placeholder="Enter your band's name">
            </mat-form-field>
        </div>
    
        <div id="details-section">
            <h4>Details</h4>
    
            <mat-form-field *ngIf="strategy.applicationForm.get('type')?.value == 'Instrumentalist'" 
                            [appearance]="'outline'" 
                            [ngClass]="'dialog-form-field'" 
                            floatLabel="always"
                            [hideRequiredMarker]="true">
                <mat-label>Instrument</mat-label>
                <mat-select formControlName="instrument" placeholder="Choose an instrument">
                    <mat-option *ngFor="let instr of instruments" [value]="instr">{{ instr }}</mat-option>
                </mat-select>
            </mat-form-field>
    
            <mat-form-field [appearance]="'outline'" 
                            [ngClass]="'dialog-form-field'" 
                            floatLabel="always"
                            [hideRequiredMarker]="true">
                <mat-label>Genre</mat-label>
                <mat-select formControlName="genre" placeholder="Choose genre">
                    <mat-option *ngFor="let genre of genres" [value]="genre">{{ genre }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
</ng-template>