.filter-panel {
    .mat-expansion-panel-header,
    .mat-expansion-panel-header.mat-expanded,
    .mat-expansion-panel-header.mat-expanded:hover,
    .mat-expansion-panel-header:hover {
        background-color: var(--primary);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .mat-expansion-panel-header-title {
        color: var(--light-text);
    }   

    .mat-expansion-panel-content {
        background-color: var(--secondary) !important;
    }

    margin-bottom: 1rem;
}

::ng-deep {
    .mat-expansion-panel-header-description,
    .mat-expansion-indicator::after {
        color: var(--light-text) !important;
    }

    .mat-expansion-panel-content,
    .mat-expansion-panel-body {
        background-color: var(--secondary) !important;
    }

    .mat-expansion-panel-body {
        padding: 0 1rem 0.75rem !important;
    }
}

