<form [formGroup]="filterForm">
    <app-filter-item [title]="'Date'">
        <mat-form-field [appearance]="'outline'" [ngClass]="'date-field-event'">
            <mat-date-range-input [rangePicker]="picker">
            <input matStartDate [placeholder]="'Start date'" formControlName="startDate">
            <input matEndDate [placeholder]="'End date'" formControlName="endDate">
            </mat-date-range-input>
            <mat-hint>DD/MM/YYYY - DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker" class="mat-mdc-icon-button"></mat-datepicker-toggle>
            <mat-date-range-picker #picker>
                <mat-date-range-picker-actions>
                    <button mat-button matDateRangePickerCancel>Cancel</button>
                    <button mat-raised-button color="primary" matDateRangePickerApply>Apply</button>
                  </mat-date-range-picker-actions>
            </mat-date-range-picker>
        </mat-form-field>
    </app-filter-item>

    <app-filter-item [title]="'Sort order'">
        <mat-selection-list #citiesList [color]="'primary'" formControlName="order" [multiple]="false">
            <mat-list-option *ngFor="let sortOrder of sortOrderKeys" 
                            class="multi-item"
                            value={{sortOrder}}>
                            {{sortEnum[sortOrder]}}
            </mat-list-option>  
        </mat-selection-list>
    </app-filter-item>
</form>