<app-list-item class="event-list-item" (click)="openDetails()">
    <ng-template #imgRef>
        <img class="event-img" src="assets\img\example.png">
    </ng-template>
    <ng-template #descRef>
        <h2>
            {{event.title}}
            <div id="tags">
                <app-tag>{{event.type}}</app-tag>
                <app-tag *ngIf="event.genre">{{event.genre}}</app-tag>
            </div>
        </h2>
        <h3 class="desc-item">
            <mat-icon class="desc-icon">calendar_today</mat-icon>
            {{event.date | date:"dd MMM yyyy 'at' hh:mm a"}}
        </h3>
        <h3 class="desc-item">
            <mat-icon class="desc-icon">location_on</mat-icon>
            {{event.city}}
        </h3>
        <h3 class="desc-item" *ngIf="event.price; else free">
            <mat-icon class="desc-icon">attach_money</mat-icon>
            {{event.price}}
        </h3>
    </ng-template>
</app-list-item>

<ng-template #free>
    <h3 class="desc-item">
        <mat-icon class="desc-icon">attach_money</mat-icon>
        Free entry
    </h3>
</ng-template>



