.event-img {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    object-fit: fill;
}

.event-list-item {
    height: 11rem;
    display: block;
    cursor: pointer;
}

.event-list-item:hover {
    box-shadow: 5px 5px 5px lightgrey;
}

.desc-item {
    margin-bottom: 0.5rem;
    display: flex;
}

.desc-icon {
    margin-right: 0.5rem;
}

#tags {
    display: inline-block;
    margin-left: 1rem;
}

