.page-container {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    width: 80%;
    display: flex;
}

#filter-container {
    width: 25%;
}

#list-container {
    width: 70%;
}

#separator {
    width: 5%;
}