<div id="subnavbar" [@openClose]="expanded ? 'open' : 'closed'">
    <div id="sub-navigations">
        <!-- <button mat-flat-button class="subnav-btn" (click)="redirect('profile')">Profile</button> -->
        <!-- <button mat-flat-button class="subnav-btn" (click)="redirect('tickets')">Tickets</button> -->
        <!-- <button mat-flat-button class="subnav-btn" (click)="redirect('submissions')">Submissions</button> -->
    </div>
    
    <div>
        <button mat-flat-button class="subnav-btn" id="log-btn" *ngIf="!isLogged" (click)="redirect('login')">Log in</button>
        <button mat-flat-button class="subnav-btn" id="log-btn" *ngIf="isLogged" (click)="logout()">Log out</button>
    </div>
</div>