<div class="page-container">
    <div class="offer-container">
        <img src="assets\img\example.png">
        <div class="offer-details">
            <h1 id="offer-title">
                {{offer.title}}
                <div id="tags">
                    <app-tag>{{offer.type}}</app-tag>
                    <app-tag>{{offer.genre}}</app-tag>
                </div>
            </h1>
            <h3 class="desc-item">
                <mat-icon class="desc-icon">calendar_today</mat-icon>
                {{offer.date | date:"dd MMM yyyy 'at' hh:mm a"}}
            </h3>
            <h3 class="desc-item">
                <mat-icon class="desc-icon">location_on</mat-icon>
                {{offer.city}}<span id="location" *ngIf="offer.location">,&nbsp; {{offer.location}}</span>
            </h3>
        </div>

        <h4 id="description-section">{{offer.description}}</h4>
    </div>

    <mat-divider></mat-divider>

    <div class="applications-container">
        <h1 id="applications-header">
            Applications

            <div id="chip-sec">
                <mat-chip-list selectable multiple #chipList>
                    <mat-chip
                      #c="matChip"
                      *ngFor="let option of statuses"
                      [value]="option.id"
                      (click)="toggleSelection(c)"
                    >
                      {{option.value | uppercase}}
                    </mat-chip>
                  </mat-chip-list>
            </div>
        </h1>

    <div *ngIf="applicationsLoaded">
        <div *ngFor="let userApplication of applications$ | async">
            <user-application-item 
                [application]="userApplication"
                (acceptApplication)="acceptApplication($event, userApplication.id!)"
            >
            </user-application-item>
        </div>
    </div>   
        
        <h4 class="list-info" 
            *ngIf="(allApplicationsLoaded$ | async) && (applications$ |async)?.length == 0">
            No applications found for this offer.
        </h4>
        <button class="list-info" 
                mat-button 
                *ngIf="!(allApplicationsLoaded$ | async) && !(isUpdating$ | async) && (applications$ |async)?.length != 0" 
                (click)="fetchMore()">
                Load more applications
        </button>

    </div>

</div>