<app-details-dialog>
    <ng-template #imgRef>
        <img class="event-img" src="assets\img\example.png">
    </ng-template>

    <ng-template #detailsRef>
        <h1 *ngIf="data.performer; else title" id="dialog-title">
            {{data.performer}} | {{data.title}}
            <div id="tags">
                <app-tag>{{data.type}}</app-tag>
                <app-tag>{{data.genre}}</app-tag>
            </div>
        </h1>
        <h3 class="desc-item">
            <mat-icon class="desc-icon">calendar_today</mat-icon>
            {{data.date | date:"dd MMM yyyy 'at' hh:mm a"}}
        </h3>
        <h3 class="desc-item">
            <mat-icon class="desc-icon">location_on</mat-icon>
            {{data.city}},&nbsp; <span id="location">{{data.location}}</span>
        </h3>
        <h3 class="desc-item" *ngIf="data.price; else free">
            <mat-icon class="desc-icon">attach_money</mat-icon>
            {{data.price}}
        </h3>
    </ng-template>

    <ng-template #descRef>
        <h4>{{data.description}}</h4>
    </ng-template>

    <ng-template #actionsRef>
        <button mat-raised-button [mat-dialog-close] [color]="'primary'">BUY TICKET</button>
    </ng-template>  
</app-details-dialog>


<ng-template #title>
    <h1>{{data.title}}</h1>
</ng-template>

<ng-template #free>
    <h3 class="desc-item">
        <mat-icon class="desc-icon">attach_money</mat-icon>
        Free entry
    </h3>
</ng-template>