.desc-item {
    margin-bottom: 0.5rem;
    display: flex;
    font-weight: 500;
}

.desc-icon {
    margin-right: 0.5rem;
}

#tags {
    display: inline-block;
    margin-left: 1rem;
}

#dialog-title {
    font-weight: 500;
}

#location {
    font-weight: 400;
    display: block;
}

.event-img {
    width: 100%;
    height: auto;
}
